<!DOCTYPE html>
<html lang="en">

<body id="index">

  <div class="jumbotron text-center" id="home">
    <h1><img src="../../assets/images/logo.png"></h1>
    <br />
    <select id="breeds" class="form-select" (change)="onSelect($event)">
      <option selected [value]="null">Please choose a cat breed</option>
      <option *ngFor="let item of carBreedOptions" [value]="item.value">{{item.label}}</option>
    </select>

    <ng-container *ngIf="(showCard$ | async)">
      <div *ngFor="let cat of selectedCataData" class="card" style="width: 18rem;">
      <img src="{{cat.image}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{cat.name}}</h5>
        <p class="card-text">{{cat.description}}</p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">See More</a>
      </div>
    </div></ng-container>

  </div>

</body>

</html>