<div class="container">
  <div class="row mt-4">
    <div class="col-md-5">
      <div class="mt-0">
        <h5>{{ catDataDetails[0].name }}</h5>
        <p class="mb-0">{{ catDataDetails[0].description }}</p>
      </div>

      <div class="info-box">
        <p><b>Client:</b> CUPCAKE CO</p>
        <p><b>Date:</b> 14.02.2020</p>
        <p><b>Designer:</b> James Doe</p>
        <p><b>Tools:</b> Illustrator</p>
        <p class="mb-0"><b>Budget:</b> $500</p>
      </div>
    </div>

    <div class="col-md-7">
      <img
        src="{{ catDataDetails[0].image }}"
        alt="project-image"
        class="rounded"
        style="width: 300px"
      />
      <div class="project-info-box">
        <p><b>Categories:</b> Design, Illustration</p>
        <p><b>Skills:</b> Illustrator</p>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" (click)="goBack()">
  Go Back
</button>
